@charset "UTF-8";
/* 
em HTML é id    = em CSS #
em HTML é class = em CSS é .
*/

body {
    background-color: rgb(216, 248, 225);
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: green;
}
h1#principal {
    text-align: center;
    background-color: white;
}
h2 {
    color: rgb(66, 175, 117);
}
h2.basico {
    color: red;
    font-weight: lighter;
}
.intermediario {
    color: blue;
}
.avancado {
    color: blueviolet;
}
.destaque {
    background-color: rgba(234, 234, 126, 0.259);
} 